
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore staging info from Visual Studio
library/HPOneView.420/.vs/*
library/HPOneView.420/HPOneView.420/bin/*
library/HPOneView.420/HPOneView.420/obj/*

# ignore PowerShell Studio MetaData
HPOneView.420/HPOneView.420.psproj
HPOneView.420/HPOneView.420.psproj.bak
HPOneView.420/HPOneView.420.psprojs
HPOneView.420/HPOneView.420.psproj

# ignore the TestResults
TestResults/*

# ignore the publishing Directory
publish/*